/*
pallet id
http://paletton.com/palette.php?uid=5001q0kqQqHgmy9lhsIsOlaywge
*/
body{
  background-color: #D0CFCF;
}

.header{
  background-color: #D52222;
  font-family: times;
  color: white;
  border-bottom: 3px solid #2F2F2F;
  border-top: 3px solid #2F2F2F;
  padding-bottom: 10px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.header h1{
  text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.3);
}

.recent-post{
  background-color: white;
  border: 2px solid #2F2F2F;
}

.side-content{
  background-color: white;
  border: 2px solid #2F2F2F;
  border-radius: 10px;
}

.menu-bar a{
  color: inherit;
}

.login-panel{
  background-color: white;
  border: 2px solid #2F2F2F;
  padding: 20px;
}

.login-panel .form-horizontal .control-label {
    text-align: left;
}