body{
  background-image:url(../images/bg.jpg);
  background-repeat:repeat;
}
.navbar {
  min-height: 46px;
}
.navbar-brand {
  height: 46px;
  padding: 5px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}
.navigation > li ul > li> a > i {
  font-size: 16px;
  right: 14px;
  top: 13px;
  opacity: 0.5;
  position: absolute;
}
.navbar-inverse {
  background-color: #333;
}
.poster{
  height: 100px;
  background-color: #F29F24;
  color: white;
  text-shadow: 1px 1px 4px #6e8cb2;
}
.title{
  height: 100%;
  padding: 20px 0px;
  color: white;
  text-shadow: 1px 1px 4px #6e8cb2;
}
.title h2{
  font-weight: 400;
}
.title span{
  font-size: 0.7em;
}
.main{
  margin-top: 20px;
}
.konten{
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);
  padding: 20px;
}
.konten h2{
  border-left: 5px #F1CB1E solid;
  color: #A9A9A9;
  padding: 0px 10px;
  font-size: 23px;
  font-weight: normal;
}
.konten h4{
  border-left: 2px #E48561 solid;
  color: #A9A9A9;
  padding: 0px 5px;
  font-size: 10px;
  font-weight: normal;
}
.konten hr{
  margin-top: 3px;
  margin-bottom: 10px;
}
.samping{
  background-color: #333;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);
  padding: 20px;
}
.samping p{
  color: #fff;
  font-weight: 600;
}
.samping h2{
  border-left: 5px #F1CB1E solid;
  color: #A9A9A9;
  padding: 0px 10px;
  font-size: 23px;
  font-weight: normal;
}
.berita h3{
  margin: 10px 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.berita a{
  color: #E77104;
  text-decoration: none;
}
.berita a:hover, a:focus {
  color: #F39C12;
  text-decoration: underline;
}
.berita img{
  max-width: 100%;
}
.chart1{
  margin-top: 20px;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);
  padding: 20px;
}








.footer{
  margin-top: 20px;
  background-color: #333;
  color: #fff;
}